body{
  background-color: #1d3557;
  color: #e63946;
}

main{
  padding-block-start: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.Play-btn{
  background-color: transparent;
  color: #e63946;
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  margin-block-start: 20px;
}

.Pause-btn{
  background-color: transparent;
  color: #bde0fe;
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
  margin-block-start: 20px;
}












